@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP");
body {
  color: white;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#1164ad),
    to(#000f1f)
  );
  background: linear-gradient(90deg, #1164ad, #000f1f);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

.main,
.fotter {
  width: 980px;
  margin: 0 auto;
}

/*---------------------------------------------------------------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  /* position: absolute; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 2;
  background-color: #000000;
}
.header h1 {
  margin-left: 30px;
}
.header ul {
  display: flex;
  padding-right: 50px;
}
.header-navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-navi li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  list-style: none;
  height: 50px;
  margin-left: 25px;
}

.header-navi a {
  display: block;
  text-align: center;
  line-height: 2;
  font-size: 17px;
}

.custom-btn {
  background: transparent;
  outline: none !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  font-family: "Noto Serif JP", cursive;
  font-style: oblique;
}

.custom-btn:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3bacdd),
    to(#044574)
  );
  background: linear-gradient(90deg, #3bacdd, #044574);
  color: #fff;
}

.custom-btn:active {
  top: 2px;
}
/*--------------------------------------------------------------------------------------------------------------*/
.main {
  border-bottom: 1px solid #fff;
}

.main-img-cut {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  height: 400px;
  padding-left: 100px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 40px;
}

.vertical {
  position: absolute;
  top: 18%;
  left: 12%;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 25px;
  font-family: "Noto Serif JP", sans-serif;
}

.main-top {
  margin-top: 30px;
  margin-bottom: 70px;
}

.under {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, transparent),
    color-stop(50%, #003ef8)
  );
  background: linear-gradient(transparent 50%, #003ef8 50%);
}
.plofile {
  display: flex;
}
.plofile div {
  width: 200px;
  height: 200px;
  margin-left: 200px;
  background-color: aqua;
}
.plofile ul {
  margin-top: 0;
}
.plofile-list {
  display: flex;
}
.plofile-list p {
  margin-right: 20px;
  margin-top: 0px;
}
/**/
/* .service-item h4 {
  display: flex; 
  justify-content: center; 
}
.service-item h4:before,
.service-item h4:after {
  content: ""; 
  width: 40px; 
  height: 1px; 
  background: #fff; 
  margin: 15px; 
} */
.service-wrap {
  display: flex;
  width: 80%;
  margin: 65px auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service-item {
  text-align: center;
  width: 30%;
  margin-bottom: 50px;
}
.service h3 {
  margin-top: 50px;
}
/**/
.message {
  text-align: center;
  font-family: "Noto Serif JP", cursive;
  font-style: oblique;
  text-shadow: 0 0 10px;
  margin-top: 150px;
  margin-bottom: 50px;
}
.main-top h3 {
  margin-top: 70px;
}

.fadein {
  opacity: 0;
  -webkit-transition: 2.5s;
  transition: 2.5s;
}

.scrollin {
  opacity: 1;
}

.main-sentence {
  width: 96%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-family: "Noto Serif JP", sans-serif;
  line-height: 1.7em;
  text-align: center;
  border-left: 1px solid #fff;
  border-left: none;
  /* border-right: 1px solid #fff; */
}
.sentence {
  width: 96%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-family: "Noto Serif JP", sans-serif;
  line-height: 1.7em;
  text-align: left;
  border-left: 1px solid #fff;
  /* border-right: 1px solid #fff; */
}

h2,
h4 {
  text-align: center;
}
h4 {
  margin-top: 50px;
}

.contents {
  width: 60%;
  margin: 0 auto;
}
.contents ul {
  display: flex;
}
.contents li {
  width: 25%;
  height: 150px;
  text-align: center;
  list-style: none;
}

.skill-contents {
  margin-bottom: 150px;
}

.img-skill {
  width: auto;
  height: auto;
  max-width: width 100px;
  max-height: 100%;
  margin: 0 auto;
}

.sentence-skill {
  margin-top: 20px;
}

.head {
  font-size: 25px;
}

.works {
  margin-bottom: 50px;
}
.workd-img {
  margin: 0 auto;
  width: 50%;
  background-clip: padding-box;
  border: 10px solid #ffffff;
}
.work-dental {
  width: 100%;
}

@media all and (max-width: 768px) {
  .header {
    display: inline-block;
    width: 100%;
  }
  .header ul {
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .header li {
    width: 50%;
    margin: 0;
    padding: 0;
    flex: none;
  }
  .main,
  .fotter {
    width: 100%;
    margin: 0 auto;
  }
  .main-img-cut {
    padding: 0;
  }
  .plofile {
    display: block;
  }
  .plofile div {
    margin: 0 auto;
  }
  .plofile ul {
    margin-top: 50px;
    margin-left: 10%;
  }
  .service-wrap {
    display: inline-block;
    width: 100%;
  }
  .service-item {
    width: 100%;
  }
  .sentence {
    padding: 0;
  }
  .contents {
    width: 100%;
  }
  .contents ul {
    flex-wrap: wrap;
    padding: 0;
  }
  .contents li {
    width: 50%;
    margin: 0;
    padding: 0;
  }
}
